.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: #ffffff;
  border-top: 1px solid #e5e7eb;
}

.nav button {
  background: none;
  border: none;
  font-size: 14px;
  color: #6b7280;
}

.active {
  color: #137fec;
  font-weight: 700;
}
